<!DOCTYPE html>
<html lang="eg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1.0">
        <title>Login page</title>

   </head>
   <body>
    <form name ="index" action="/createuser" method="post">
        <h1>Login Page</h1>
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" placeholder="Your name.."><br>

                <!-- <label for="lname">Last Name</label><br>
        <input type="text" id="lname" name="lname" placeholder="Your last name.."><br>

        <label for="Email">Email</label><br>
        <input type="text" id="Email" name="email" placeholder="Your Email"><br>

        <label for="City">City</label><br>
        <input type="text" id="City" name="city" placeholder="City"><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Password"><br> <br> -->


        <!--<input type="submit" value="Submit">-->
        
        <input type="submit" placeholder="Submit">


    </form>
    </body>
</html>



